body {
	font-family:Calibri,Arial;
	background-color:orange;
}

#ui {
	position:relative;
	top:2em;
}

#code {
	width:15em;
	height:9em;
	font-size:1.5em;
	margin:.5em;
}

#start {
	position:absolute;
	top:0;
	width:10em;
	height:3em;
	margin:.5em;
}

#stop {
	position:absolute;
	top:4em;
	width:10em;
	height:3em;
	margin:.5em;
}

#reset {
	position:absolute;
	top:8em;
	width:10em;
	height:3em;
	margin:.5em;
}

#drawing {
	position:relative;
	top:20px;
	height:200px;
	width:100%;
	background-color:#32B5F3;
	border:1px solid black;
}

.mouse {
	position:relative;
	left:100px;
	top:100px;
}

.mouse .body-top {
	position:absolute;
	left:0;
	top:0;
	width:100px;
	height:60px;
	border-radius:50%;
	background-image:
        linear-gradient(0deg, #32B5F3 50%, lightgray 50%);
}

.mouse .body-bottom {
	position:absolute;
	left:0px;
	top:20px;
	background-color:darkgray;
	width:100px;
	height:20px;
	border-radius:50%;
	background-image:
        linear-gradient(180deg, lightgray 50%, darkgray 50%);
}

.mouse .ear {
	position:absolute;
	left:50px;
	top:-15px;
	background-color:darkgray;
	width:25px;
	height:35px;
	border-radius:50%;
}

.mouse .nose {
	position:absolute;
	width:8px;
	height:8px;
	left:95px;
	top:17px;
	background-color:black;
	border-radius:50%;
}

.mouse .eye {
	position:absolute;
	width:10px;
	height:10px;
	left:75px;
	top:10px;
	background-color:darkblue;
	border-radius:50%;
}

.mouse .tail {
	position:absolute;
	width:30px;
	height:30px;
	border-width:2px;
	border-color:black;
	border-style:none none solid solid;
	border-radius:0 0 0 30px;
	left:-30px;
	top:0px;
}

.cheese {
	position:absolute;
	margin-left:-20px;
	top:90px;
	left:500px;
}

.cheese .pie {
	position:absolute;
    width: 7.5em;
    height: 3.5em;
	margin-left:-3.75em;
    border-radius: 50%;
    background-color: #ED0;
    border-style:none;
	background-image:
        linear-gradient(170deg, transparent 50%, #32B5F3 50%),
        linear-gradient(140deg, #32B5F3 50%, transparent 50%);
}

.cheese .body {
	position:absolute;
	width:3.5em;
	height:1.5em;
	top:1.4em;
	background-color:#DC0;
	transform:skewY(-10deg);
}

.cheese .hole {
	position:absolute;
	width:.5em;
	height:.5em;
	background-color:#870;
	border-radius:50%;
	transform:skewY(-10deg);
}

.hole.one {
	left:10px;
	top:30px;
}
.hole.two{
	left:25px;
	top:35px;
}
.hole.three {
	left:40px;
	top:28px;
}

.roof {
	position:absolute;
	background-color:darkred;
	top:20px;
	width:200px;
	height:20px;
}

.roof.left {
	transform:rotate(-10deg);
	left:5px;
}

.roof.right {
	transform:rotate(10deg);
	left:600px;
}