body {
	font-family:Calibri,Arial;
	background-color:orange;
}

#controls {
	position:relative;
	top:2em;
}

label[for="code"] {
    position: absolute;
    top: 0;
    left: 0;
}
#code {
    position: absolute;
    top: 25px;
	width:15em;
	height:9em;
	font-size:1.5em;
	margin-right:.5em;
}

label[for="helpOnInstructions"] {
    position: absolute;
    top: 0;
    left: 450px;
}
#helpOnInstructions {
    white-space: pre;
    position: absolute;
    top: 25px;
    left: 450px;
    width: 20em;
    background-color: rgb(253, 202, 110);
    border: 1px solid black;
	font-size:1.5em;
    font-family: monospace;
    padding: .5em;
}

#start {
	position:absolute;
    top: 25px;
    left: 300px;
	width:10em;
	height:3em;
}

#stop {
	position:absolute;
    top: 75px;
    left: 300px;
	width:10em;
	height:3em;
}

#reset {
	position:absolute;
	top: 125px;
    left: 300px;
	width:10em;
	height:3em;
}

#drawing {
	position:relative;
	top:20px;
	height:200px;
	width:100%;
	background-color:#32B5F3;
	border:1px solid black;
}

#flower-template {
    display: none;
}

.flower {
    position: absolute;
    left: 150px;
    top: 125px;
}

.flower .stalk {
    position: relative;
    left: 16px;
    width: 0;
    height: 72px;
    border: 2px solid darkgreen;
}

.flower .petal {
    position: absolute;
    width: 15px;
    height: 25px;
    border-radius: 30px/50px;
    background-color: red;
    border: 1px solid orange;
}
.flower .petal-bl {
    left: 0;
    top: 0;
    transform: rotate(45deg);
}
.flower .petal-tl {
    left: 0px;
    top: -20px;
    transform: rotate(-45deg);
}
.flower .petal-tr {
    left: 20px;
    top: -20px;
    transform: rotate(45deg);
}
.flower .petal-br {
    left: 20px;
    top: 0;
    transform: rotate(-45deg);
}

.mouse {
	position:relative;
	left:100px;
	top:160px;
}

.mouse .body-top {
	position:absolute;
	left:0;
	top:0;
	width:100px;
	height:60px;
	border-radius:50%;
	background-image:
        linear-gradient(0deg, transparent 50%, lightgray 50%);
}

.mouse .body-bottom {
	position:absolute;
	left:0px;
	top:20px;
	background-color:darkgray;
	width:100px;
	height:20px;
	border-radius:50%;
	background-image:
        linear-gradient(180deg, lightgray 50%, darkgray 50%);
}

.mouse .ear {
	position:absolute;
	left:50px;
	top:-15px;
	background-color:darkgray;
	width:25px;
	height:35px;
	border-radius:50%;
}

.mouse .nose {
	position:absolute;
	width:8px;
	height:8px;
	left:95px;
	top:17px;
	background-color:black;
	border-radius:50%;
}

.mouse .eye {
	position:absolute;
	width:10px;
	height:10px;
	left:75px;
	top:10px;
	background-color:darkblue;
	border-radius:50%;
}

.mouse .tail {
	position:absolute;
	width:30px;
	height:30px;
	border-width:2px;
	border-color:black;
	border-style:none none solid solid;
	border-radius:0 0 0 30px;
	left:-30px;
	top:0px;
}

.bubble {
    opacity: 0;
    position: absolute;
    font-size: 1.5em;
    border: 3px solid darkgreen;
    border-radius: .8em;
    padding: 1em;
    background-color: lightyellow;

    transition: opacity .5s ease-in-out;
}

.cheese {
	position:absolute;
	margin-left:-20px;
	top:145px;
	left:500px;
}

.cheese .pieContainer {
	position:absolute;
    width: 7.5em;
    height: 7.5em;
    margin-left: -3.77em;
    margin-top: -1.95em;
    transform: scaleY(0.5);
}

.cheese .pie {
    position: absolute;
    width: 7.5em;
    height: 7.5em;
    border-radius: 50%;
    clip: rect(0px, 3.75em, 7.5em, 0px);
}
.cheese #pieSlice .pie {
    background-color: #ED0;
    transform: rotate(-40deg);
}
.cheese .hold {
    position: absolute;
    width: 7.5em;
    height: 7.5em;
    clip: rect(0px, 7.5em, 7.5em, 3.75em);
    border-radius: 50%;
    transform: rotate(-110deg);
}

.cheese .pie-old {
	position:absolute;
    width: 7.5em;
    height: 3.5em;
	margin-left:-3.75em;
    border-radius: 50%;
    background-color: #ED0;
    border-style:none;
	background-image:
        linear-gradient(170deg, transparent 50%, #32B5F3 50%),
        linear-gradient(140deg, #32B5F3 50%, transparent 50%);
}

.cheese .body {
	position:absolute;
	width:3.5em;
	height:1.5em;
	top:1.4em;
	background-color:#DC0;
	transform:skewY(-10deg);
}

.cheese .hole {
	position:absolute;
	width:.5em;
	height:.5em;
	background-color:#870;
	border-radius:50%;
	transform:skewY(-10deg);
}

.hole.one {
	left:10px;
	top:30px;
}
.hole.two{
	left:25px;
	top:35px;
}
.hole.three {
	left:40px;
	top:28px;
}

.house {
    position: absolute;
    left: 10px;
}
.house .wall {
	position:absolute;
	background-color:darkgray;
	top:40px;
	width:20px;
	height:160px;
}
.house .wall.left {
    left: 10px;
}
.house .wall.right {
    left: 720px;
}

.house .back {
    position: absolute;
    background-color: darkblue;
    top: 30px;
    width: 180px;
    height: 170px;
}
.house .back.left {
    left: 20px;
}
.house .back.right {
    left: 550px;
}

.house .roof {
	position:absolute;
	background-color:darkred;
	top:20px;
	width:200px;
	height:20px;
}
.house .roof.left {
	transform:rotate(-5deg);
	left:0;
}
.house .roof.right {
	transform:rotate(5deg);
	left:550px;
}
